[package]
name = "oo7"
version = "0.1.0-alpha.4"
edition = "2021"
authors = ["Bilal Elmoussaoui", "Sophie Herold", "Maximiliano Sandoval"]
description = "Easy to use Secret Service implementation with sandboxed file backend support"
repository = "https://github.com/bilelmoussaoui/oo7"
homepage = "https://github.com/bilelmoussaoui/oo7"
keywords = ["keyring", "secret", "service", "portal", "keychain"]
exclude = ["org.freedesktop.Secrets.xml"]
categories = ["os::linux-apis", "os", "api-bindings"]
license = "MIT"

[dependencies]
zbus = {version = "2.1", features = ["gvariant"]}
serde = "1.0"
futures = {version = "0.3", default-features = false, features = ["std", "async-await"]}
rand = {version = "0.8", default-features = false}
async-std = {version = "1.11", features = ["attributes"], optional = true}
tokio = {version = "1.17", features = ["sync", "fs", "io-util"], optional = true}
byteorder = "1.0"
num = "0.4.0"
num-bigint-dig = {version ="0.8", features = ["zeroize"]}
tracing = {version = "0.1", optional = true}

aes = "0.8"
cbc = "0.1"
cipher = {version = "0.4", features = ["rand_core"]}
digest = "0.10"
hmac = "0.12"
pbkdf2 = "0.11"
sha2 = "0.10"
zeroize = {version = "1", features = ["zeroize_derive"]}
hkdf = "0.12"

once_cell = "1.9"
dirs = "4.0"

[features]
default = ["local_tests", "async-std"]
# Some tests requires a prompt to be displayed, which can't be easily
# handled in CI unless we write a mock service. The feature allows to disabling those tests in CI
local_tests = []
# Enables unstable low-level API
unstable = []
# Build nicer docs (requires nightly)
docs = []
tokio_runtime = ["zbus/tokio", "tokio"]


[[example]]
name = "basic"
path = "examples/basic.rs"
required-features = ["async-std"]

[[example]]
name = "basic_2"
path = "examples/basic_2.rs"
required-features = ["async-std"]

[[example]]
name = "dbus_service"
path = "examples/dbus_service.rs"
required-features = ["async-std"]
