[graph]
targets = [
    "x86_64-unknown-linux-gnu",
    "aarch64-unknown-linux-gnu"
]

[advisories]
db-path = "~/.cargo/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
ignore = []

[licenses]
allow = [
  "MIT",
  "Apache-2.0", # rpassword by cli only
  "BSD-3-Clause", # used by subtle -> digest
  "Unicode-3.0", # used by icu_collections -> url
]

[sources]
allow-git = [
  "https://github.com/bilelmoussaoui/ashpd"
]

[bans]
multiple-versions = "deny"
wildcards = "deny"
highlight = "all"
skip = [
  # num-bigint-dig & crypto_common
  {name = "rand_core", version = "0.6.4"},
  # num-bigint-dig
  {name = "rand_chacha", version = "0.3.1"},
  # num-bigint-dig
  {name = "rand", version = "0.8.5"},
  # num-bigint-dig -> ppv-lite86
  {name = "zerocopy", version = "0.7.35"},
  # num-bigint-dig & crypto_common
  {name = "getrandom", version = "0.2.15"},
]