[package]
name = "oo7-daemon"
edition.workspace = true
exclude.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
clap.workspace = true
enumflags2 = "0.7"
oo7 = { workspace = true, features = ["unstable"] }
rpassword = "7.3"
serde.workspace = true
tokio = { workspace = true, features = ["full"] }
tracing = "0.1"
tracing-subscriber.workspace = true
zbus.workspace = true
zeroize.workspace = true
